body {
    background-color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Times New Roman','Times', sans-serif;
    overflow-x: hidden;
    font-weight: 200;
    font-size: 14px;
}

canvas {
    background: white;
}

.container{
    margin: 0 auto;
    max-width: 350px;
    padding-bottom: 2rem;
}

#canvas-container {
    padding: 0px;
    height: 400px;
    width: 350px;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    margin-top: -0.6rem;
}

#stats-container {
    width: 350px;
    margin-left: 1rem;
    height: 450px;
    display: inline-block;
    vertical-align: top;
}

.Positive {
    background: rgba(0,0,200,0.5);
    padding: 5px;
    border-radius: 3px;
    color: white;
    width: 110px;
}

.Negative {
    padding: 5px;
    background: rgb(227, 38, 54);
    border-radius: 3px;
    color: white;
    width: 110px;
}

#negativeCount {
    float: right;
}

#positiveCount {
    float: right;
}


.countersWrapper {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 350px;
}

.main-title {
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 0rem;
    padding: 6px;
    text-align: center;
    width: 295px;
    background: rgb(102, 153, 204);
    border-radius: 3px;
    color: white;
    font-weight: 400;
}



